---
---

$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

.projects-header {
    text-align: center;
    font-size: 2.0rem;
}

mjx-container {
    overflow-x: auto;
    overflow-y: visible;

    // Black magic wizardry hack to prevent vertical scrollbars
    padding-bottom: 10px; margin-bottom: -10px;
    padding-top: 10px; margin-top: -10px;
}

blockquote {
    padding: .5em;
}

blockquote hr {
    margin: .5em 0;
}

blockquote:before {
    white-space: pre;
    font-weight: 700;
    text-decoration: italicized;
}

.blockquote-definition:before {
    content: "Definition\A";
}

.blockquote-theorem:before {
    content: "Theorem\A";
}

.blockquote-example:before {
    content: "Example\A";
}

.blockquote-warning:before {
    content: "Warning\A";
}

.blockquote-note:before {
    content: "Note\A";
}
